    /*mise en forme du pied de page*/
footer{
    background-color: #782221;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    /*redimmensonnement des icones*/
#linkedin{
    width: 2em;
    height: 2em;
}
#twitter{
    width: 2em;
    height: 2em;
}
    /*effet sur les icones*/
#linkedin:hover{
    opacity: 0.6;
}
#twitter:hover{
    opacity: 0.6;
}